@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}
:root {
  --theme-light-color: #fafafa;
  --theme-dark-color: #141414;
  --text-gray-color: #696969;
  --body-font: "Epilogue", sans-serif;
}
body {
  background-color: var(--theme-light-color);
  font-family: var(--body-font);
  line-height: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  /* background-color: var(--theme-light-color); */
  background-color: #F1FAEE;
}

/* header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transition: all 0.5s ease;
}
.navbar__menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 280px;
    min-height: calc(100vh - 78px);
    /* background-color: var(--theme-light-color); */
    background-color: #F1FAEE;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 1rem;
    transition: all 0.5s ease;
  }
  .navbar__menu.right-open {
    right: 0;
  }
}
.nav-logo{
    width: 8vh;
}
.navbar__list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 2rem;
}
@media screen and (max-width: 900px) {
  .navbar__list {
    flex-direction: column;
    flex-grow: 0;
  }
}
.navbar__list li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  transition: all 0.5s ease;
  color: var(--text-gray-color);
}
.navbar__list li a:hover {
  color: var(--theme-dark-color);
}
.navbar__list li .arrow {
  transition: 0.3s ease;
}
.navbar__list li .arrow.up {
  transform: rotate(180deg);
}
.navbar__list-drop {
  display: inline-block;
  position: relative;
}
.navbar__list-drop-menu {
  display: none;
  position: absolute;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  /* background-color: var(--theme-light-color); */
  background-color: #F1FAEE;
  border-radius: 1rem;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.122);
  z-index: 999;
}
@media screen and (max-width: 900px) {
  .navbar__list-drop-menu {
    position: inherit;
    background-color: transparent;
    box-shadow: none;
    padding: 0.5rem 1rem;
  }
}
.navbar__list-drop-menu.open {
  display: flex;
}
.navbar__list-drop-menu.features {
  right: 0;
  width: max-content;
}
.navbar__list-drop-menu.company {
  left: 0;
  width: max-content;
}
.navbar .menu {
  display: none;
  float: left;
  transition: all 275ms ease;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .navbar .menu {
    display: block;
  }
}
.navbar .menu span {
  display: block;
  width: 22px;
  height: 4px;
  background: #000;
  margin-bottom: 2px;
  border-radius: 1px;
  transition: all 275ms ease;
}
.navbar .menu.active {
  transform: rotate(-45deg);
}
.navbar .menu.active .bar1 {
  transform: rotate(0deg) translateY(6px);
}
.navbar .menu.active .bar2 {
  opacity: 0;
}
.navbar .menu.active .bar3 {
  transform: rotate(-90deg) translateX(5px);
}



/* hero-section */
.hero-section{
    height: 95vh;
    background-color: #696969;
}
/* slider */

.home-slider {
  width: 100%;
  /* max-height: 600px; */
  height: 90vh;
  /* height: auto; */
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 0;
}

.rslides:before {
  content: "";
  display: block;
  width: 540px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1356355/slider-overlay.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  padding-bottom: 31.25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

li a.credits {
  position: absolute;
  z-index: 4;
  right: 3%;
  bottom: 20px;
}

.rslides li img{
    height: 90vh;
}

/* Slider navigation */

.transparent-btns_tabs {
  position: absolute;
  z-index: 2;
  bottom: 5vh;
  left: 50%;
  transform: translate(-4%, 0%);
  width: 100%;
  text-align: center;
}

.transparent-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  float: left;
  margin-right: 5px;
}

.transparent-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 11px;
  height: 11px;
}

.transparent-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

/* hero-heading */
.hero-heading-wrapper{
    height: 90vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    z-index: 10;
    position: relative;
    margin-top: 5vh;
}
.hero-heading{
    font-size: 4.75vw;
    font-weight: 700;
    color: whitesmoke;
}
.hero-heading-line{
    height: 10px;
    width: 75vw;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    right: 0%;
}
.hero-heading-bottom{
    transform: translate(-7.5vw,3vh);
}